/* Hide eye icon */
input::-ms-reveal,
input::-ms-clear {
display: none;
}
.password-toggle-icon {
    margin-left: -30px;
    cursor: pointer;
}
#togglePassword {
    color: #6C717A;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    border-bottom: 1px solid #E2E8F0;
}
.navbar {
    height: 74px;
    margin: 0px;
    padding: 0px;
    gap: 0px;
    border: 1px 0px 1px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
nav.navbar {
    margin: 0px;
    padding: 0px;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}
.nav-link:hover{
    color: #482ff7;
}
h1 {
    margin-top: 15px;
}
section{
    width: 100%;
    height: 100%;
    background-color: #FFFDF3;
}
article {
    background-color: #FFFFFF;
    padding: 36px;
}
/* .btnMasuk:hover {
    background-color: lightgrey;
}
.btnDaftar:hover {
    background-color: lightgrey;
} */

/* Big Screen */
.isBigScreen h1 {
    font-family: Poppins; font-size: 32px; font-weight: 600; line-height: 35.2px; text-align: center;
}
.isBigScreen #yukLanjutinVideoBelajarmu {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.isBigScreen .required {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #D32E1F;
}
.isBigScreen .fa-eye {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}
.isBigScreen .labelEmail {
    font-family: DM Sans;
    color: #4A505C;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    float: left;
    margin-left: 36px;
}
.isBigScreen .inputEmail {
    width: 518px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #F1F1F1;
    margin-bottom: 18px;
}
.isBigScreen .labelPassword {
    font-family: DM Sans;
    color: #4A505C;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    float: left;
    margin-left: 36px;
}
.isBigScreen .inputKataSandi {
    width: 518px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #F1F1F1;
}
.isBigScreen .user-box {
    position: relative;
    margin-bottom: 30px;
}
.isBigScreen .forgotPassword {
    margin-right: 36px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
}
.isBigScreen .login {
    width: 117px;
    height: 42px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    margin: 5px;
}
.isBigScreen .register {
    width: 117px;
    height: 42px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    margin-left: 5px;
    margin-right: 40px;
}
.isBigScreen .btnMasuk {
    width: 518px;
    height: 42px;
    border-radius: 10px;
    background-color: #3ECF4C;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 16px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
}
.isBigScreen .btnDaftar {
    width: 518px;
    height: 42px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #E2FCD9CC;
    color: #3ECF4C;
    border: 0px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
}
.isBigScreen #btnLoginWithGoogle {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 518px;
    height: 42px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    padding: 8px 26px 8px 26px;
    gap: 8px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
}
.isBigScreen button > i {
    margin-left: auto;
    vertical-align: auto;
    margin-right: 0px;
    margin-top: 4px;
}
.isBigScreen button > span {
    margin-right: auto;
    vertical-align: auto;
}
.isBigScreen article {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 590px;
    height: 617px;
    text-align: center;
    gap: 36px;
    opacity: 0px;
}
.isBigScreen section {
    width: 590px;
    height: 617px;
    background-color: #FFFDF3;
    margin: auto;
    padding: 36px 0px 0px 0px;
    gap: 36px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}
.isBigScreen .forgotPassword {
    text-align: right;
}
.isBigScreen article a {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    text-decoration: none;
    color: #4A505C;
}


/* Small Screen */
.isSmallScreen h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
}
.isSmallScreen .required {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #D32E1F;
}
.isSmallScreen .inputEmail, .inputKataSandi {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #F1F1F1;
}
.isSmallScreen .fa-eye {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}
.isSmallScreen .forgotPassword {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    color: #333333AD;
    line-height: 19.6px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
}
.isSmallScreen .btnMasuk {
    width: 100%;
    gap: 0px;
    border-radius: 10px;
    border: none;
    margin-bottom: 16px;
    opacity: 0px;
    background-color: #3ECF4C;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #FFFFFF;
}
.isSmallScreen .btnDaftar {
    width: 100%;
    gap: 0px;
    border-radius: 10px;
    border: none;
    opacity: 0px;
    background-color: #E2FCD9CC;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #3ECF4C;
}
.isSmallScreen #btnLoginWithGoogle {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.isSmallScreen button > span {
    margin-right: auto;
    margin-left: 8px;
    vertical-align: auto;
}
.isSmallScreen button > i {
    margin-left: auto;
    vertical-align: auto;
    margin-right: 0px;
    margin-top: 4px;
}
.isSmallScreen #yukLanjutinVideoBelajarmu {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.isSmallScreen .labelEmail, .labelPassword {
    font-family: DM Sans;
    color: #333333AD;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.isSmallScreen .active {
    margin-left: 0px;
}
.isSmallScreen .nav-item {
    margin: 10px;
}
.isSmallScreen .hamburger {
    gap: 0px;
    opacity: 0px;
    display: block;
    cursor: pointer;
}
.isSmallScreen .bar {
    width: 24px;
    margin-right: 25px;
}
.isSmallScreen .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.isSmallScreen .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.isSmallScreen .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Button if hover */

.btnMasuk:hover {
    background-color: #94F08B;
}
.btnDaftar:hover {
    background-color: lightgrey;
}
#btnLoginWithGoogle:hover {
    background-color: lightgrey;
}
.passwordIcon {
    color: #333;
}